// Place all the styles related to the devise controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form {
  text-align: center;
  margin-top: 100%;
  border: 10px inset rgb(237, 203, 192);
  background-color: rgba(237, 203, 192, 0.25);
}