// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$banner: rgba(192, 192, 192, 1);
$transparent_banner: rgba(192, 192, 192, 0);

body {
  background-image: url(sky.jpg);
  background-size: cover;
}

.jumbotron {
  background: $banner; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($transparent_banner, $banner, $transparent_banner); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($transparent_banner, $banner, $transparent_banner); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($transparent_banner, $banner, $transparent_banner); /* For Firefox 3.6 to 15 */
  background: linear-gradient($transparent_banner, $banner, $transparent_banner); /* Standard syntax */
}