// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$silver: rgb(192, 192, 192);
$gold: rgb(255, 215, 0);
$font: Copperplate, Copperplate Gothic Light, sans-serif;

body {
  background-image: url(sky.jpg);
  background-size: cover;
}

.jumbotron {
  h1 {
    color: $gold;
    font-family: $font;
    text-align: center;
  }
  background: $silver; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(transparent, $silver, transparent); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(transparent, $silver, transparent); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(transparent, $silver, transparent); /* For Firefox 3.6 to 15 */
  background: linear-gradient(transparent, $silver, transparent); /* Standard syntax */
}