// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: rgb(0, 70, 0);
$silver: rgb(192, 192, 192);

.panel {
  .panel-body {
    .container {
      position: relative;
    }
  }
  background: rgba(255, 255, 255, 0.5);
}